.about {
    padding-top: 50px;

    .grid_moi {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--gap-about);
        align-items: stretch;

        @media screen and (max-width: $breakpoint-sm) {
            grid-template-columns: 1fr;
        }

        .info_moi {
            display: grid;
            gap: var(--gap-about);

            .info_moi_1 {
                padding: 25px 35px;
                border: 2px solid var(--color-grey);

                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                h2 {
                    margin: 0;
                }

                p {
                    margin: 0;
                    font-weight: 500;
                }
            }

            .info_moi_2 {
                padding: 25px 35px;
                border: 2px solid var(--color-grey);
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                a {
                    margin-top: 40px;
                    text-align: start;
                    color: var(--color-white);
                    background-color: var(--color-orange);
                    font-weight: 700;
                    letter-spacing: 2px;
                    padding: 15px 20px;
                    border: 2px solid var(--color-orange);
                    border-radius: 15px;
                    transform: scale(1);
                    transition: all 1.2s $ease-out-expo;
                    width: inherit;
                    text-align: center;

                    &:hover {
                        transform: scale(1.05);
                        text-decoration: none;
                        box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.3);
                    }
                }

                p {
                    margin: 0;
                }
                h3 {
                    color: var(--color-grey);
                    margin: 40px 0 0 0;
                }
            }
        }

        img {
            object-fit: cover;
            aspect-ratio: 1/1;
            border-radius: 20px;

            @media screen and (max-width: $breakpoint-sm) {
                aspect-ratio: 1/1;
                height: inherit;
            }
        }
    }
}
