.about {
    padding-top: 50px;

    .grid_moi {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--gap-about);
        align-items: stretch;

        @media screen and (max-width: $breakpoint-sm) {
            grid-template-columns: 1fr;
        }

        .info_moi {
            display: grid;
            gap: var(--gap-about);

            .info_moi_1 {
                padding: 25px 35px;
                border: 2px solid var(--color-grey);

                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                h2 {
                    margin: 0;
                }

                p {
                    margin: 0;
                    font-weight: 500;
                }
            }

            .info_moi_2 {
                padding: 25px 35px;
                border: 2px solid var(--color-grey);
                border-radius: 20px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                p {
                    margin: 0;
                }
                h3 {
                    color: var(--color-orange);
                    margin: 40px 0 0 0;
                }
            }
        }

        img {
            object-fit: cover;
            aspect-ratio: 1/1;
            border-radius: 20px;

            @media screen and (max-width: $breakpoint-sm) {
                aspect-ratio: 1/1;
                height: inherit;
            }
        }
    }
}
