.swiper-pagination-bullet {
    opacity: 0;
}

.swiper {
    max-width: 1000px;
}

.swiper-slide {
    display: flex;
    justify-content: flex-end;

    img {
        cursor: pointer;
        object-fit: cover;
        border-radius: 30px;
        display: block;
        width: 100%;
        height: 100%;
        aspect-ratio: 16 / 9;
    }
}
