.swiper-pagination-bullets {
    position: static;
}
.swiper-pagination-bullet {
    position: relative;

    bottom: -2rem;
    border: 8px solid var(--color-orange);
    opacity: 1;
    transition: border 0.4s ease-out;
}

.swiper-pagination-bullet-active {
    border-width: calc(var(--size, 20px) / 1);
}

.swiper {
    .swiper-wrapper {
        .swiper-slide {
            display: grid;
            justify-items: start;
            img {
                cursor: pointer;
                object-fit: cover;
                border-radius: 30px;
                display: block;
                width: 70%;
                max-height: 500px;
                aspect-ratio: 4 / 3;
            }
        }
    }
}
.swiper-backface-hidden {
    min-height: 700px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    position: relative;
    left: -15%;
    margin: 0 20px;
    width: 40px;
    height: 40px;
    background-color: var(--color-white);
}
