footer {
    background-color: var(--color-dark-blue);
    border-radius: 30px 30px 0 0;

    .wrapper {
        padding: 30px 0 15px 0;

        @media screen and (max-width: $breakpoint-sm) {
            padding: 10px 5px;
        }

        .container {
            background-color: var(--color-white-blue);
            border-radius: 20px;
            padding: 25px 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;

            @media screen and (max-width: $breakpoint-sm) {
                background-color: var(--color-dark-blue);
            }

            .logo-blue img {
                width: var(--font-size-footer-logo);
                height: var(--font-size-footer-logo);

                @media screen and (max-width: $breakpoint-sm) {
                    display: none;
                }
            }

            .logo-mobile img {
                display: none;
                width: var(--font-size-footer-logo);
                height: var(--font-size-footer-logo);

                @media screen and (max-width: $breakpoint-sm) {
                    display: block;
                }
            }

            @media screen and (max-width: $breakpoint-sm) {
                padding: 20px 20px;
            }

            .infolettre {
                h4 {
                    margin: 0;
                    padding: 0;
                    font-weight: 600;
                    font-size: var(--font-size-h4);
                    color: var(--color-dark-blue);

                    @media screen and (max-width: $breakpoint-sm) {
                        color: var(--color-white-blue);
                    }
                }

                .sociaux {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-top: 10px;
                    gap: 10px;

                    .icon--lg {
                        color: var(--color-light-blue);
                        font-size: var(--font-size-icon);
                        transition: all 0.4s $ease-out-expo;
                        &:hover {
                            color: var(--color-red);
                            transform: scale(1.3);
                        }

                        &::after {
                            content: '';
                        }
                        @media screen and (max-width: $breakpoint-sm) {
                            color: var(--color-white-blue);
                            &:hover {
                                color: var(--color-light-blue);
                                transform: scale(1.3);
                            }

                            &::after {
                                content: '';
                            }
                        }
                    }
                }
            }

            .coordonnnes {
                h4 {
                    font-size: var(--font-size-h4);
                    font-weight: 600;
                    color: var(--color-dark-blue);
                    margin: 0 0 5px 0;
                    padding: 0;

                    @media screen and (max-width: $breakpoint-sm) {
                        color: var(--color-white-blue);
                    }
                }

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        p {
                            margin: 0 0 10px 0;
                            font-weight: 400;
                            font-size: var(--font-size-small-p);
                            color: var(--color-dark-blue);
                            text-align: left;

                            @media screen and (max-width: $breakpoint-sm) {
                                color: var(--color-white-blue);
                            }
                        }
                    }
                }
            }
        }
        p {
            text-align: center;
            color: var(--color-white-blue);
            font-size: var(--font-size-small-p);
            font-weight: 300;
        }
    }
}
