footer {
    margin-top: 120px;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer_left {
            a {
                color: var(--color-orange);
                text-decoration: none;
                transition: all 1.2s $ease-out-expo;

                padding: 10px 0;
            }
            &:hover a {
                font-weight: 900;
                letter-spacing: 3%;
            }
        }

        .footer_right {
            ul {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 30px;
                list-style: none;

                .bkg_sociaux {
                    background-color: var(--color-grey);
                    padding: 15px;
                    border-radius: 100%;
                    transform: scale(
                        1
                    ); // Animations des boutons dans le menu, état NON HOVER
                    transition: all 1.2s $ease-out-expo;

                    &::before {
                        display: block;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        content: '';
                        transition: 0.3s all;
                        border: 0px;
                    }

                    &:hover {
                        text-decoration: none;
                        background-color: var(--color-orange);
                        color: var(--color-white);
                        transform: scale(
                            1.35
                        ); // Animations des boutons dans le menu, état HOVER ACTIF
                    }
                    .icon {
                        font-size: var(--font-size-logiciel-icon-projet);
                        color: var(--color-white);
                    }
                }
            }
        }
    }
}
