footer {
    margin-top: 120px;
    margin-bottom: 50px;
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: end;

        @media screen and (max-width: $breakpoint-smm) {
            grid-template-columns: 1fr;
        }

        .footer_left {
            @media screen and (max-width: $breakpoint-smm) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            a {
                color: var(--color-orange);
                text-decoration: none;
                transition: all 1.2s $ease-out-expo;
                padding: 10px 0;

                &:hover {
                    font-weight: 900;
                    letter-spacing: 3%;
                }

                @media screen and (max-width: $breakpoint-smm) {
                    font-weight: 700;
                }
            }
        }

        .footer_right {
            margin-top: 30px;
            p {
                text-align: right;

                @media screen and (max-width: $breakpoint-smm) {
                    text-align: center;
                }
            }
            ul {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 30px;
                list-style: none;
                padding: 0;

                @media screen and (max-width: $breakpoint-smm) {
                    justify-content: center;
                }

                .bkg-sociaux {
                    background-color: var(--color-grey);
                    padding: 15px;
                    border-radius: 100%;
                    transform: scale(
                        1
                    ); // Animations des boutons dans le menu, état NON HOVER
                    transition: all 1.2s $ease-out-expo;

                    &::before {
                        display: block;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        content: '';
                        transition: 0.3s all;
                        border: 0px;
                    }

                    &:hover {
                        text-decoration: none;
                        background-color: var(--color-orange);
                        color: var(--color-white);
                        transform: scale(
                            1.35
                        ); // Animations des boutons dans le menu, état HOVER ACTIF
                    }
                    .icon {
                        font-size: var(--font-size-logiciel-icon-projet);
                        color: var(--color-white);
                    }
                }
            }
        }
    }
}
