.galerie {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        grid-template-areas: 'column1 column2 column3';

        @media screen and (max-width: $breakpoint-nav) {
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                'column1 column2'
                'column3 column3'; // La dernière colonne s'étendra sur deux colonnes
        }

        @media screen and (max-width: $breakpoint-xss) {
            grid-template-columns: 1fr;
            grid-template-areas:
                'column1'
                'column2'
                'column3'; // Toutes les colonnes en une seule
        }

        .column {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 20px;

            &:nth-child(1) {
                grid-area: column1;
            }

            &:nth-child(2) {
                grid-area: column2;
            }

            &:nth-child(3) {
                grid-area: column3;
            }

            img {
                border-radius: 15px;
                cursor: pointer;
                object-fit: cover;
                width: fit-content;
                height: fit-content;
                max-height: 300px;
            }
        }
    }
}
