/* ==========================================================================
   header / component
   ========================================================================== */

.header {
    h1 {
        color: var(--color-white-blue);
        font-size: var(--font-size-meteo);
        font-weight: 400;
        z-index: 20;
    }

    --header-height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 var(--spacing-sm);
    position: sticky;
    top: 0;
    height: var(--header-height);
    z-index: 10;
    transition: transform 0.9s $ease-in-out-back; // *****Vitesse animations header******

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            gap: 40px;
        }
    }
    &::before {
        background-color: var(--color-dark-blue);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    @media screen and (min-width: $breakpoint-lg) {
        padding: 0 var(--spacing-lg);
    }

    .header-is-hidden.is-scrolling-down:not(.nav-is-active) & {
        transform: translateY(
            -100%
        ); // *******Animations diparitions du Header*********
    }
}

.header__brand {
    max-width: 200px;
    position: relative;
    z-index: 10;
}

.header__toggle {
    --bar-height: 8px;
    --bar-width: 50px;
    --bar-spacer: 6px;

    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    width: 50px;
    height: 50px;
    z-index: 10;

    span {
        background: var(--color-white-blue);
        border-radius: 3px;
        height: var(--bar-height);
        width: 100%;
        position: absolute;
        top: calc(50% - var(--bar-height) / 2);
        left: calc(50% - var(--bar-width) / 2);
        transition: 0.3s all ease-out; // Animations burger a X

        &:nth-child(1) {
            top: calc(
                50% - var(--bar-height) / 2 - var(--bar-height) -
                    var(--bar-height)
            );
        }

        &:nth-child(3) {
            top: calc(
                50% - var(--bar-height) / 2 + var(--bar-height) +
                    var(--bar-height)
            );
        }
    }

    .nav-is-active & {
        span {
            top: calc(50% - var(--bar-height) / 2);

            &:nth-child(1) {
                transform: rotate(45deg);
            }

            &:nth-child(2) {
                transform: scaleX(0);
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }

    @media screen and (min-width: $breakpoint-md) {
        display: none;
    }
}

.nav-primary {
    background: var(--color-dark-blue);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    padding-top: var(--header-height);
    display: flex;
    align-items: center;
    overflow-y: auto;
    transform: translateY(-100%);
    transition: transform 1s $ease-out-expo;

    .nav-is-active & {
        transform: translateY(0);
    }

    ul {
        display: flex;
        gap: 40px;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        transform: translateY(-70%);
        transition: transform 1.2s $ease-out-expo;

        .nav-is-active & {
            transform: translateY(0);
        }

        a {
            display: block;
            text-align: center;
            color: var(--color-grey);
            font-size: var(--font-size-nav);
            text-transform: uppercase;
            font-weight: 100;
        }
    }

    @media screen and (min-width: $breakpoint-md) {
        display: block;
        background: unset;
        position: relative;
        height: auto;
        width: auto;
        overflow-y: visible;
        padding-top: 0;
        transform: translateY(0);
        z-index: 2;

        ul {
            flex-direction: row;
            transform: translateY(0);
        }
    }
}

.nav-primary__item {
    font-size: var(--font-size-h1);
    color: var(--color-white-blue);
    text-transform: uppercase;
    position: relative;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: var(--color-white);
    }

    @media screen and (min-width: $breakpoint-md) {
        color: var(--color-white-blue);
        position: relative;
        text-transform: none;

        &::before {
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            height: 2px;
            width: 100%;
            content: '';
            background-color: var(--color-white-blue);
            transform: scaleX(0);
            transition: 0.3s all;
        }

        &:hover {
            text-decoration: none;
            color: var(--color-white-blue);

            &::before {
                transform: scaleX(1);
            }
        }
    }
}

.nav-is-active body {
    overflow: hidden;

    @media screen and (min-width: $breakpoint-lg) {
        overflow: auto;
    }
}
