.horizontal {
    .wrapper {
        display: flex;
        position: relative;
        bottom: -20%;

        .content {
            width: 100vw;
            flex: 0 0 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
