.horizontal {
    .wrapper {
        display: flex;
        position: relative;
        top: 40%;

        .content {
            width: 100vw;
            flex: 0 0 100vw;
        }
    }
}

.spacer {
    margin: 2rem 2rem;
    padding: 2rem 2rem;
    width: 100%;
    height: 100%;
}
