.horizontal {
    .wrapper {
        display: flex;
        height: 100vh;
        align-items: center;
        max-height: inherit;

        .content {
            width: 100vw;
            flex-shrink: 0;
            position: relative;
            bottom: -30px;
            padding-right: 50px;
        }
    }
}
