.logiciel_langage {
    margin-bottom: 260px;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .bottom {
        position: relative;
        bottom: -10rem;
    }
    .card {
        padding: 20px 40px;
        display: flex;
        max-width: 180px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--color-grey);
        border-radius: 20px;
        gap: 90px;

        h4 {
            font-size: var(--font-size-logiciel);
            text-transform: uppercase;
            margin: 0;
            font-weight: 500;
        }

        .bkg_logiciel {
            background-color: var(--color-grey);
            padding: 25px;
            border-radius: 100%;
            .icon {
                font-size: var(--font-size-logiciel-icon);
                color: var(--color-white);
            }
        }
    }
}
