.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;

    @media screen and (max-width: $breakpoint-nav) {
        grid-template-columns: 1fr 1fr;
    }

    .card {
        padding: 25px 0;
        display: flex;
        min-width: 150px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--color-grey);
        border-radius: 20px;
        gap: 50px;

        transition: all 1.5s $ease-out-back;

        &:hover {
            background-color: var(--color-orange);
            transform: scale(1.04);
            box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.6);
            color: var(--color-white);

            .bkg-logiciel {
                background-color: var(--color-white);

                .icon {
                    color: var(--color-orange);
                }
            }
        }

        p {
            text-transform: uppercase;
            margin: 0;
            font-weight: 500;
            font-size: var(--font-size-logiciel);
            transition: all 1.3s $ease-out-back;
        }

        .bkg-logiciel {
            background-color: var(--color-grey);
            padding: 20px;
            border-radius: 100%;
            transition: all 1.3s $ease-out-back;

            .icon {
                color: var(--color-white);
                transition: all 1.3s $ease-out-back;
            }
        }
    }
}
