.horizontal {
    .wrapper {
        max-width: none;

        .modale {
            position: fixed;
            overflow: hidden;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 80%);
            display: none; /* Modale cachée par défaut */
            justify-content: center;
            align-items: center;

            h1 {
                font-size: var(--font-size-h1-projets);
                color: var(--color-orange);
            }
        }

        .modale.visible {
            display: flex; /* Affiche la modale lorsque la classe "visible" est ajoutée */
            overflow-y: hidden; /* Désactive le défilement */
        }

        .modale img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }

        body.noscroll {
            overflow: hidden; /* Désactive le défilement */
        }
    }
}
