.mes_projets {
    h1 {
        text-transform: uppercase;
        margin: 150px 0 0 0;
        font-size: var(--font-size-h1-projets);
    }
}

.bouton {
    &:hover {
        background-color: var(--color-orange);
    }
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    max-width: var(--font-size-btn_hero_width);
    font-size: var(--font-size-btn-hero);
    border: 1px solid var(--color-grey);
    padding: 5px 20px;
    align-items: center;
    transform: translateY(0%) scale(1); // Animations des boutons dans le menu, état NON HOVER
    transition: all 1.2s $ease-out-expo; // Animations des boutons dans le menu, état NON HOVER

    a {
        color: var(--color-grey);
        text-decoration: none;
    }

    @media screen and (min-width: $breakpoint-nav) {
        color: var(--color-grey);
        position: relative;
        text-transform: uppercase;

        &::before {
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            content: '';
            transition: 0.3s all;
            border: 0px;
        }

        &:hover {
            a {
                color: var(--color-white);
            }

            text-decoration: none;
            background-color: var(--color-orange);
            transform: translateY(20%) scale(1.03); // Animations des boutons dans le menu, état HOVER ACTIF
            box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.3); // Animations des boutons dans le menu, état HOVER ACTIF
        }
    }
}
.tous {
    max-width: none;
    padding: 20px 40px;
    border: 3px solid var(--color-grey);
    margin-top: 50px;

    a {
        font-size: var(--font-size-btn-tous-projet);
        font-weight: 600;
    }
}

.espace {
    margin-bottom: 50px;
}

.projet {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: $breakpoint-lg;

    @media screen and (max-width: $breakpoint-nav) {
        grid-template-columns: 1fr;
    }

    .left {
        border: 1px solid var(--color-grey);
        border-radius: 20px;
        padding: 35px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--gap-about);

        h3 {
            text-transform: uppercase;
            font-weight: 300;
            font-style: italic;
            font-size: var(--font-size-h3-projet);
            margin: 0 0 25px 0;
            color: var(--color-black);
        }

        h4 {
            margin: 0 0 50px 0;
            font-size: var(--font-size-h4-projet);
            font-weight: 300;
            font-style: italic;
        }

        p {
            margin: 0 0 10px 0;
            font-size: var(--font-size-p-projet);
        }

        .logiciel {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            .bkg_logiciel {
                background-color: var(--color-grey);
                padding: 10px;
                border-radius: 100%;
                .icon {
                    font-size: var(--font-size-logiciel-icon-projet);
                    color: var(--color-white);
                }
            }
        }
    }
    .right {
        padding: 35px 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 1px solid var(--color-grey);
        border-radius: 20px;
        gap: var(--gap-about);

        p {
            font-size: var(--font-size-p-projet);
            max-width: 400px;
            margin: 0;
        }

        img {
            object-fit: cover;
            border-radius: 20px;
        }
    }
}
