.projet_modelisation {
    .wrapper {
        h2 {
            font-size: var(--font-size-h2-projet);
        }

        p {
            max-width: 800px;
            margin-bottom: 30px;
        }
    }
}
