.presentation {
    margin-bottom: 145px;
    .wrapper {
        h1 {
            text-transform: uppercase;
            margin-top: var(--margin-h1);
            margin-bottom: var(--margin-h1);
            font-size: var(--font-size-h1-projets);
        }

        a {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 15px;
            transform: scale(1);
            transition: all 1.2s $ease-out-expo;

            &:hover {
                transform: scale(1.03);
                text-decoration: none;
            }

            .icon {
                color: var(--color-orange);
            }

            h2 {
                color: var(--color-orange);
                font-weight: 300;
                font-style: italic;
            }
        }

        .info_projet {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: stretch;
            align-content: center;
            width: 100%;

            @media screen and (max-width: $breakpoint-nav) {
                grid-template-columns: 1fr;
            }

            .projet_sorte {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                border: 1px solid var(--color-grey);
                border-radius: 20px;
                min-height: 150px;

                h3 {
                    text-transform: uppercase;
                    font-weight: 9600;
                    font-size: var(--font-size-h2);
                }
            }

            .projet_logiciel {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                width: fit-content;

                @media screen and (max-width: $breakpoint-nav) {
                    width: auto;
                }

                .logiciel_grid {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    border: 1px solid var(--color-grey);
                    border-radius: 20px;
                    gap: 50px;

                    padding: 40px 20px;

                    h4 {
                        text-transform: uppercase;
                        font-style: italic;
                        font-size: var(--font-size-p-plus);
                    }

                    .logiciel-bkg {
                        background-color: var(--color-grey);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 100%;
                        padding: 10px;

                        .icon {
                            color: var(--color-white);
                            font-size: var(--font-size-icon-un-projet);
                        }
                    }
                }
            }
        }
    }
}
