/* ==========================================================================
   video / component
   ========================================================================== */

.youtube {
    color: var(--color-white);
    text-align: center;
    margin-bottom: 150px;
    @media screen and (max-width: $breakpoint-md) {
        padding-bottom: 0;
    }

    position: relative;
    cursor: pointer;

    img {
        object-fit: cover;
        border-radius: 30px;
        display: block;
        width: 100%;
        max-height: 500px;
        aspect-ratio: 4 / 3;
    }

    &:hover .icon {
        transform: scale(1.2);
    }
}

.youtube__media {
    @include cover();
    border-radius: 30px;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    max-height: 500px;
    width: 100%;
    display: block;
    position: relative;

    .icon {
        opacity: 0;
        position: absolute;
        top: 45%;
        left: 47%;
        text-shadow: 0 0 4px rgba(0, 0, 0, 1);
        transition: transform 0.4s $ease-out-expo;
        z-index: 2;
        font-size: var(--font-size-icon);

        .is-video-ready & {
            opacity: 1;
        }
    }

    @media screen and (max-width: $breakpoint-md) {
        border-radius: 20px;
    }

    img {
        @media screen and (max-width: $breakpoint-md) {
            border-radius: 20px;
        }
    }
}
