/* ==========================================================================
   video / component
   ========================================================================== */

.youtube {
    color: var(--color-white);
    text-align: center;

    @media screen and (max-width: $breakpoint-md) {
        padding-bottom: 0;
    }

    position: relative;
    cursor: pointer;

    img {
        object-fit: cover;
        border-radius: 30px;
        display: block;
        max-width: 800px;
    }

    .icon {
        opacity: 0;
        position: absolute;
        top: 36%;
        left: 45%;
        text-shadow: 0 0 4px rgba(0, 0, 0, 1);
        transition: transform 0.4s $ease-out-expo;
        z-index: 2;
        font-size: var(--font-size-icon);

        .is-video-ready & {
            opacity: 1;
        }
    }

    &:hover .icon {
        transform: translateX(15px);
    }
}

.youtube__media {
    @include cover();
    border-radius: 20px;
    object-fit: cover;
    height: auto;
    display: block;

    @media screen and (max-width: $breakpoint-md) {
        border-radius: 20px 20px 0 0;
    }

    img {
        @media screen and (max-width: $breakpoint-md) {
            border-radius: 20px 20px 0 0;
        }
    }
}
