/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */

body {
    color: var(--color-white);
    font-family: var(--font-primary);
    font-size: var(--font-size-content);
    line-height: 1.6;
    background-color: var(--color-white-blue);
    overflow-x: hidden;
}
