/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;
    --color-dark-blue: #3458a4;
    --color-light-blue: #4676dd;
    --color-white-blue: #daf1f7;
    --color-red: #cf513c;

    // Couleurs du projet
    --color-primary: #3458a4;
    --color-bg-primary: #daf1f7;
}
