/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #eeece1;
    --color-black: #545454;
    --color-grey: #7d7c7a;
    --color-orange: #e9632e;
}
