/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Poppins', sans-serif;

    --font-size-content: #{typo(16px, 18px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(40px, 80px)};
    --font-size-h2: #{typo(20px, 38px)};
    --font-size-h3: #{typo(15px, 35px)};
    --font-size-h4: #{typo(14px, 27px)};
    --font-size-p-hero: #{typo(16px, 30px)};

    --font-size-nav: #{typo(14px, 24px)};
    --font-size-btn-hero: #{typo(16px, 30px)};
    --font-size-btn_hero_width: #{typo(155px, 300px)};
    --font-size-logo: #{typo(77px, 120px)};
    --font-size-border: #{typo(3px, 3px)};

    --font-size-btn-plus: #{typo(20px, 24px)};
    --font-size-p-plus: #{typo(14px, 20px)};
    --font-size-p-moi2: #{typo(20px, 26px)};
    --width-moi: #{typo(170px, 800px)};
}
