/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Poppins', sans-serif;

    --font-size-content: #{typo(16px, 18px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(25px, 50px)};
    --font-size-h2: #{typo(20px, 35px)};
    --font-size-h3: #{typo(15px, 35px)};
    --font-size-h4: #{typo(14px, 27px)};

    --font-size-nav: #{typo(14px, 28px)};
}
