{% include "_partials/_header.html" with {title: 'Accueil'} %}

<section class="hero">
    <video autoplay loop muted src="assets/video/demo_reel.webm"></video>

    <div class="wrapper">
        <div class="hero_left">
            <div data-scrolly="fromLeft">
                <h1>Wilem Lavoie</h1>
            </div>
            <div class="hero_p" data-scrolly="fromTop">
                <p>Développeur web</p>
                <p>Animateur 3D</p>
            </div>
            <div data-scrolly="fromBottom">
                <a class="bouton" href="#">Mes projets</a>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
