{% include "_partials/_header.html" with {title: 'Accueil'} %}

<section class="hero">
    <div class="wrapper">
        <div class="hero_left">
            <p>Développeur web</p>
            <h1>wilem</h1>
            <div class="horizontal_align">
                <p>Animateur 3D</p>
                <h2>Lavoie</h2>
            </div>
            <a class="bouton" href="#">Mes projets</a>
        </div>
        <div class="youtube" data-component="Youtube" data-youtube-id="1_lY-9TvzBo?si">
            <!--https://youtu.be/1_lY-9TvzBo?si=kUFy_iIt1ADh02Wo --URL VIDEO-->

            <div class="youtube__media js-youtube">
                <img class="js-poster" src="assets/images/demoreel.png" alt="Camping" />

                <svg class="icon icon--xl">
                    <use xlink:href="#icon-play"></use>
                </svg>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
