{% include "_partials/_header.html" with {title: 'Formulaire'} %}

<section class="hero-nousjoindre" data-scrolly="fromTop">
    <div class="wrapper">
        <h2>Nous joindre</h2>
        <div class="card_media" data-scrolly="fromLeft">
            <img src="assets/images/carte.jpg" alt="" />
        </div>
    </div>
</section>

<section class="questions" data-scrolly="fromBottom">
    <div class="wrapper">
        <h2>Questions courantes</h2>

        <div class="accordeon">
            <div class="grid-accordeon" data-component="Accordeon" data-auto-open>
                <div class="accordion__container js-header">
                    <div class="accordion__header" data-scrolly="fromRight">
                        <h3>Communiquez avec le maire</h3>
                        <svg class="icon">
                            <use xlink:href="#icon-plus"></use>
                        </svg>
                    </div>

                    <div class="accordion__content">
                        <p>
                            <span>Adresse :</span>
                            lemairebds@gmail.com
                        </p>
                        <p>
                            <span>Téléphone :</span>
                            (438) 620-5020
                        </p>
                    </div>
                    <div class="line"></div>
                </div>

                <div class="accordion__container js-header">
                    <div class="accordion__header" data-scrolly="fromLeft">
                        <h3>Heure d’ouverture</h3>
                        <svg class="icon">
                            <use xlink:href="#icon-plus"></use>
                        </svg>
                    </div>

                    <div class="accordion__content">
                        <p>
                            <span>Heure du matin :</span>
                            8h30 - 12h00
                        </p>
                        <p>
                            <span>Heure de l’après-midi :</span>
                            13h00 - 16h30
                        </p>
                    </div>
                    <div class="line"></div>
                </div>

                <div class="accordion__container js-header">
                    <div class="accordion__header" data-scrolly="fromRight">
                        <h3>Taxe municipal</h3>
                        <svg class="icon">
                            <use xlink:href="#icon-plus"></use>
                        </svg>
                    </div>

                    <div class="accordion__content">
                        <p>
                            <span>Date limite :</span>
                            7 mai 2024
                        </p>
                        <p>
                            <span>Formes de paiement :</span>
                            Crédit, liquide ou BitCoin
                        </p>
                    </div>
                    <div class="line"></div>
                </div>

                <div class="accordion__container js-header">
                    <div class="accordion__header" data-scrolly="fromLeft">
                        <h3>Travaux en cours</h3>
                        <svg class="icon">
                            <use xlink:href="#icon-plus"></use>
                        </svg>
                    </div>

                    <div class="accordion__content">
                        <p>
                            <span>Heure des travaux :</span>
                            8h30 - 16h30
                        </p>
                        <p>
                            <span>Travaux en cours :</span>
                            13
                        </p>
                    </div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="installations" data-scrolly="fromTop">
    <div class="wrapper">
        <h2>Nos installations</h2>
        <div class="cards-installations">
            <div class="card" data-scrolly="fromLeft">
                <div class="titre-section">
                    <h3>Sécurité incendie</h3>
                    <div class="line"></div>
                </div>
                <div class="card_content">
                    <p>
                        <span>Adresse :</span>
                        408, rue du Bateau-Passeur, Tadoussac  Québec, G0T 2A0
                    </p>
                    <p>
                        <span>Téléphone :</span>
                        (418) 235-4446 ext. 239
                    </p>
                </div>
            </div>

            <div class="card" data-scrolly="fromRight">
                <div class="titre-section">
                    <h3>Bibliothèque municipal</h3>
                    <div class="line"></div>
                </div>
                <div class="card_content">
                    <p>
                        <span>Adresse :</span>
                        308, rue Leclerc, Baie-Sainte-Catherine Québec, G0T 1A0
                    </p>
                    <p>
                        <span>Téléphone :</span>
                        (418) 620-5020
                    </p>
                </div>
            </div>

            <div class="card" data-scrolly="fromLeft">
                <div class="titre-section">
                    <h3>Bureau de poste</h3>
                    <div class="line"></div>
                </div>
                <div class="card_content">
                    <p>
                        <span>Adresse :</span>
                        310, rue Leclerc, Baie-Sainte-Catherine Québec, G0T 1A0
                    </p>
                    <p>
                        <span>Téléphone :</span>
                        (418) 237-4419
                    </p>
                </div>
            </div>

            <div class="card" data-scrolly="fromRight">
                <div class="titre-section">
                    <h3>Hôpital de la Malbaie</h3>
                    <div class="line"></div>
                </div>
                <div class="card_content">
                    <p>
                        <span>Adresse :</span>
                        303, rue St-Étienne, La Malbaie  Québec, G5A 1T1
                    </p>
                    <p>
                        <span>Téléphone :</span>
                        (418) 665-1700
                    </p>
                </div>
            </div>
        </div>
        <div class="plusinstallations" data-scrolly="fromBottom">
            <a href="">
                <p>Voir plus d'installations</p>
                <div class="line"></div>
            </a>
        </div>
    </div>
</section>

<section class="formulaire">
    <div class="wrapper">
        <h2>Formulaire Requête citoyenne</h2>

        <form action="#" class="form" data-component="Form">
            <div class="form_body">
                <p>Pour tout autres types de questions ou demandes, n’hésitez pas à nous écrire!</p>

                <p class="bold">Informations personnelles</p>
                <fieldset class="grid-form">
                    <div class="input">
                        <label class="input_label" for="lastname">Nom</label>
                        <input class="input_element" type="text" name="lastname" id="lastname" placeholder="Votre nom" required />
                        <p>Veuillez ajouter votre nom</p>
                    </div>

                    <div class="input">
                        <label class="input_label" for="firstname">Prénom</label>
                        <input class="input_element" type="text" name="firstname" id="firstname" placeholder="Votre prénom" required />
                        <p>Veuillez ajouter votre prénom</p>
                    </div>

                    <div class="input">
                        <label class="input_label" for="phone">Téléphone</label>
                        <input
                            class="input_element"
                            type="tel"
                            name="phone"
                            id="phone"
                            placeholder="(418) 620-5020"
                            pattern="^(\+\d{1,2}\s?)?\(?\d{3}\)?[\s\.\-]?\d{3}[\s\.\-]?\d{4}$"
                            required
                        />
                        <p>Veuillez ajouter un numéro de téléphone</p>
                    </div>

                    <div class="input">
                        <label class="input_label" for="address">Votre adresse</label>
                        <input class="input_element" type="text" name="address" id="address" placeholder="123 rue colibis" />
                    </div>

                    <div class="input">
                        <label class="input_label" for="postal_code">Code postal</label>
                        <input class="input_element" type="text" name="postal_code" id="postal_code" placeholder="G0T 1A0" />
                    </div>

                    <div class="input">
                        <label class="input_label" for="city">Ville</label>
                        <input class="input_element" type="text" name="city" id="city" placeholder="Baie-Sainte-Catherine" />
                    </div>

                    <div class="input">
                        <label class="input_label" for="name">Adresse email</label>
                        <input class="input_element" type="email" name="email" id="email" placeholder="2057691@cegepmontpetit.ca" required />
                        <p>Veuillez ajouter votre adresse courriel</p>
                    </div>

                    <div class="input select">
                        <label class="input_label" for="province">Province</label>
                        <select name="province" id="province" class="input_element" required>
                            <option value="" hidden>Choisir une province</option>
                            <option value="qc">Québec</option>
                            <option value="on">Ontario</option>
                            <option value="al">Alberta</option>
                            <option value="sa">Saskatchewan</option>
                        </select>
                        <p>Veuillez choisir une province</p>
                    </div>

                    <div class="input select">
                        <label class="input_label" for="sujet">Sujet</label>
                        <select name="sujet" id="sujet" class="input_element" required>
                            <option value="" hidden>Choisir un sujet</option>
                            <option value="ps">Permis de stationnement</option>
                            <option value="dr">Demande de renseignements</option>
                            <option value="rs">Réservation de salle</option>
                            <option value="pl">Plainte</option>
                            <option value="rt">Réclamation</option>
                        </select>
                        <p>Veuillez choisir un sujet</p>
                    </div>

                    <div class="input textarea u-grid-fullwidth">
                        <label class="input_label" for="comment">Commentaire</label>
                        <textarea class="input_element" name="comment" id="comment" maxlength="500" required></textarea>
                        <p>Veuillez ajouter un commentaire</p>
                    </div>
                    <div class="input checkbox">
                        <div class="input">
                            <input class="input_element" type="checkbox" name="optin[]" id="optin" placeholder="(555)-666-7777" value="true" required />
                            <label class="input_label" for="optin">Acceptation des conditions d’utilisation</label>
                            <p>Acceptez les conditions d'utilsations</p>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="p-push">
                    <p>Méthode préférée pour vous joindre?</p>
                    <div class="form_list display-radio" data-input-container>
                        <div class="input radio">
                            <div class="input">
                                <input
                                    class="input_element"
                                    type="radio"
                                    name="optioncontact[]"
                                    id="optioncontact1"
                                    placeholder="(555)-666-7777"
                                    value="Courriel"
                                    required
                                />
                                <label class="input_label" for="optioncontact1">Courriel</label>
                            </div>
                        </div>

                        <div class="input radio">
                            <div class="input">
                                <input
                                    class="input_element"
                                    type="radio"
                                    name="optioncontact[]"
                                    id="optioncontact2"
                                    placeholder="(555)-666-7777"
                                    value="Téléphone"
                                    required
                                />
                                <label class="input_label" for="optioncontact2">Téléphone</label>
                            </div>
                        </div>
                        <p>Veuillez choisir une des options</p>
                    </div>
                </fieldset>
                <footer class="form_footer">
                    <button class="button">Envoyer</button>
                </footer>
            </div>

            <div class="form_confirmation">
                <h2>Envoyé!</h2>
                <p>Votre requête à été soumis avec succès</p>
            </div>
        </form>
    </div>
</section>

{% include "_partials/_footer.html" %}
