{% include "_partials/_header.html" with {title: 'Projet'} %}

<section class="presentation">
    <div class="wrapper">
        <h1>Le pendule</h1>

        <div class="info_projet">
            <div class="projet_sorte">
                <h3>projet étudiant</h3>
            </div>

            <div class="projet_sorte">
                <h3>animation 3d</h3>
            </div>

            <div class="projet_logiciel">
                <div class="logiciel_grid">
                    <h4>Blender</h4>
                    <div class="logiciel_bkg">
                        <svg class="icon">
                            <use xlink:href="#icon-blender"></use>
                        </svg>
                    </div>
                </div>

                <div class="logiciel_grid">
                    <h4>Reaper</h4>
                    <div class="logiciel_bkg">
                        <svg class="icon">
                            <use xlink:href="#icon-reaper"></use>
                        </svg>
                    </div>
                </div>

                <div class="logiciel_grid">
                    <h4>after-effects</h4>
                    <div class="logiciel_bkg">
                        <svg class="icon">
                            <use xlink:href="#icon-after-effect"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="video_youtube">
    <div class="wrapper">
        <div class="youtube" data-component="Youtube" data-youtube-id="mDnCPAA3OWw?si">
            <!--https://youtu.be/mDnCPAA3OWw?si=i7x-Q4wtHCLbP7ay --URL VIDEO-->

            <div class="youtube__media js-youtube">
                <img class="js-poster" src="assets/images/pendule.jpg" alt="pendule" />

                <svg class="icon icon--xl">
                    <use xlink:href="#icon-play"></use>
                </svg>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
