{% include "_partials/_header.html" with {title: 'Accueil'} %}

<section class="mes_projets">
    <div class="wrapper">
        <div data-scrolly="fromLeft">
            <h1>Mes projets</h1>
        </div>

        <div class="projets">
            <div class="projet">
                <div class="left" data-scrolly="fromLeft">
                    <div>
                        <h3>Le pendule</h3>
                        <h4>Animation 3D - 2023</h4>
                        <p>Projet étudiant</p>
                        <div class="logiciel">
                            <div class="bkg_logiciel">
                                <svg class="icon">
                                    <use xlink:href="#icon-after-effect"></use>
                                </svg>
                            </div>
                            <div class="bkg_logiciel">
                                <svg class="icon">
                                    <use xlink:href="#icon-reaper"></use>
                                </svg>
                            </div>
                            <div class="bkg_logiciel">
                                <svg class="icon">
                                    <use xlink:href="#icon-blender"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="bouton">
                        <a href="projet.html">Voir le projet</a>
                    </div>
                </div>
                <div class="right" data-scrolly="fromRight">
                    <p>
                        Le court-métrage “Le pendule” est un
                        <span class="orange">projet scolaire</span>
                        de création. Le défis principal fût les jeux de
                        <span class="orange">caméra.</span>
                    </p>
                    <img src="assets/images/pendule.jpg" alt="Baie-Sainte_catherine" />
                </div>
            </div>

            <div class="projet">
                <div class="left" data-scrolly="fromLeft">
                    <div>
                        <h3>L’astéroïde</h3>
                        <h4>Animation 3D - 2024</h4>
                        <p>Projet étudiant</p>
                        <div class="logiciel">
                            <div class="bkg_logiciel">
                                <svg class="icon">
                                    <use xlink:href="#icon-after-effect"></use>
                                </svg>
                            </div>
                            <div class="bkg_logiciel">
                                <svg class="icon">
                                    <use xlink:href="#icon-reaper"></use>
                                </svg>
                            </div>
                            <div class="bkg_logiciel">
                                <svg class="icon">
                                    <use xlink:href="#icon-blender"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="bouton">
                        <a href="projet.html">Voir le projet</a>
                    </div>
                </div>
                <div class="right" data-scrolly="fromRight">
                    <p>
                        “L’astéroïde” est un
                        <span class="orange">projet étudiant</span>
                        réalisé en
                        <span class="orange">équipe de deux</span>
                        . Toute la partie espace est entièrement fait par moi!
                    </p>
                    <img src="assets/images/asteroide.jpg" alt="Baie-Sainte_catherine" />
                </div>
            </div>

            <div class="projet">
                <div class="left" data-scrolly="fromLeft">
                    <div>
                        <h3>La soucoupe</h3>
                        <h4>Animation 3D - 2024</h4>
                        <p>Projet étudiant</p>
                        <div class="logiciel">
                            <div class="bkg_logiciel">
                                <svg class="icon">
                                    <use xlink:href="#icon-after-effect"></use>
                                </svg>
                            </div>
                            <div class="bkg_logiciel">
                                <svg class="icon">
                                    <use xlink:href="#icon-reaper"></use>
                                </svg>
                            </div>
                            <div class="bkg_logiciel">
                                <svg class="icon">
                                    <use xlink:href="#icon-blender"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="bouton">
                        <a href="projet.html">Voir le projet</a>
                    </div>
                </div>
                <div class="right" data-scrolly="fromRight">
                    <p>
                        Le projet 3D "La soucoupe" introduit
                        <span class="orange">mes premiers pas en animation complexe</span>
                        et plan de caméra suivant un objet.
                    </p>
                    <img src="assets/images/soucoupe.jpg" alt="Baie-Sainte_catherine" />
                </div>
            </div>

            <div class="projet">
                <div class="left" data-scrolly="fromLeft">
                    <div>
                        <h3>Baie-Sainte-Catherine</h3>
                        <h4>Intégration web - 2024</h4>
                        <p>Projet étudiant</p>
                        <div class="logiciel">
                            <div class="bkg_logiciel">
                                <svg class="icon">
                                    <use xlink:href="#icon-html"></use>
                                </svg>
                            </div>
                            <div class="bkg_logiciel">
                                <svg class="icon">
                                    <use xlink:href="#icon-css"></use>
                                </svg>
                            </div>
                            <div class="bkg_logiciel">
                                <svg class="icon">
                                    <use xlink:href="#icon-javascript"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="bouton">
                        <a href="projet.html">Voir le projet</a>
                    </div>
                </div>
                <div class="right" data-scrolly="fromRight">
                    <p>
                        Refonte du site de la Baie-Sainte-Catherine du design à
                        <span class="orange">l’intégrations web.</span>
                    </p>
                    <img src="assets/images/bsc.png" alt="Baie-Sainte_catherine" />
                </div>
            </div>

            <div class="projet">
                <div class="left" data-scrolly="fromLeft">
                    <div>
                        <h3>Webjam</h3>
                        <h4>Intégration web - 2024</h4>
                        <p>Projet étudiant</p>
                        <div class="logiciel">
                            <div class="bkg_logiciel">
                                <svg class="icon">
                                    <use xlink:href="#icon-html"></use>
                                </svg>
                            </div>
                            <div class="bkg_logiciel">
                                <svg class="icon">
                                    <use xlink:href="#icon-css"></use>
                                </svg>
                            </div>
                            <div class="bkg_logiciel">
                                <svg class="icon">
                                    <use xlink:href="#icon-javascript"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="bouton">
                        <a href="projet.html">Voir le projet</a>
                    </div>
                </div>
                <div class="right" data-scrolly="fromRight">
                    <p>
                        Le webjam est un évenement ou nous devons
                        <span class="orange">créer un site web en deux jours</span>
                        . Composé d'équipe de quatres, j'ai participé à l'intégrations
                        <span class="orange">Wordpress</span>
                        et
                        <span class="orange">PHP</span>
                        du projet.
                    </p>
                    <img src="assets/images/webjam.jpg" alt="Baie-Sainte_catherine" />
                </div>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
