{% include "_partials/_header.html" with {title: 'Projets'} %}

<div class="mes_projets">
    <div class="wrapper">
        <div data-scrolly="fromLeft">
            <h1>Mes projets</h1>
        </div>
    </div>
</div>

<section class="horizontal" data-component="Horizontal">
    <div class="wrapper">
        <div class="content">
            <div class="projet">
                <div class="left">
                    <div class="info-left">
                        <div>
                            <h3>Le pendule</h3>
                            <h4>Animation 3D - 2023</h4>
                        </div>
                        <div>
                            <p>Projet étudiant</p>
                            <div class="logiciel">
                                <div class="logiciel-bkg">
                                    <svg class="icon">
                                        <use xlink:href="#icon-after-effect"></use>
                                    </svg>
                                </div>
                                <div class="logiciel-bkg">
                                    <svg class="icon">
                                        <use xlink:href="#icon-reaper"></use>
                                    </svg>
                                </div>
                                <div class="logiciel-bkg">
                                    <svg class="icon">
                                        <use xlink:href="#icon-blender"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bouton">
                        <a href="projet.html">Voir le projet</a>
                    </div>
                </div>
                <div class="right">
                    <p>
                        Le court-métrage «Le pendule» est un
                        <span class="orange">projet étudiant</span>
                        de création. Le but était de montrer nos talents d'animateur et de modélisateur en moins de 45 secondes. Le défi principal fut les jeux
                        de caméra.
                    </p>
                    <img src="assets/images/pendule.jpg" alt="Baie-Sainte_catherine" loading="eager" />
                    <div class="bouton-responsive">
                        <a href="projet.html">Voir le projet</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="projet">
                <div class="left">
                    <div class="info-left">
                        <div>
                            <h3>L’astéroïde</h3>
                            <h4>Animation 3D - 2024</h4>
                        </div>
                        <div>
                            <p>Projet étudiant</p>
                            <div class="logiciel">
                                <div class="logiciel-bkg">
                                    <svg class="icon">
                                        <use xlink:href="#icon-after-effect"></use>
                                    </svg>
                                </div>
                                <div class="logiciel-bkg">
                                    <svg class="icon">
                                        <use xlink:href="#icon-reaper"></use>
                                    </svg>
                                </div>
                                <div class="logiciel-bkg">
                                    <svg class="icon">
                                        <use xlink:href="#icon-blender"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bouton">
                        <a href="projet.html">Voir le projet</a>
                    </div>
                </div>
                <div class="right">
                    <p>
                        «L’astéroïde» est un
                        <span class="orange">projet étudiant</span>
                        réalisé en
                        <span class="orange">équipe de deux.</span>
                        Toute la partie espace est entièrement faite par moi, telle que la modélisation, la mise en scène, l’environnement et le son.
                    </p>
                    <img src="assets/images/asteroide.jpg" alt="Vignette du projet Astéroide" />
                    <div class="bouton-responsive">
                        <a href="projet.html">Voir le projet</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="projet">
                <div class="left">
                    <div class="info-left">
                        <div>
                            <h3>La soucoupe</h3>
                            <h4>Animation 3D - 2024</h4>
                        </div>

                        <div>
                            <p>Projet étudiant</p>
                            <div class="logiciel">
                                <div class="logiciel-bkg">
                                    <svg class="icon">
                                        <use xlink:href="#icon-after-effect"></use>
                                    </svg>
                                </div>
                                <div class="logiciel-bkg">
                                    <svg class="icon">
                                        <use xlink:href="#icon-reaper"></use>
                                    </svg>
                                </div>
                                <div class="logiciel-bkg">
                                    <svg class="icon">
                                        <use xlink:href="#icon-blender"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bouton">
                        <a href="projet.html">Voir le projet</a>
                    </div>
                </div>
                <div class="right">
                    <p>
                        Le projet 3D «La soucoupe» introduit
                        <span class="orange">mes premiers pas en animation complexe</span>
                        et plan de caméra suivant un objet. L'un des grands défis fut le "rigging" des pattes avec un squelette.
                    </p>
                    <img src="assets/images/soucoupe.jpg" alt="Baie-Sainte_catherine" loading="eager" />
                    <div class="bouton-responsive">
                        <a href="projet.html">Voir le projet</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="projet">
                <div class="left">
                    <div class="info-left">
                        <div>
                            <h3>Baie-Sainte-Catherine</h3>
                            <h4>Intégration web - 2024</h4>
                        </div>

                        <div>
                            <p>Projet étudiant</p>
                            <div class="logiciel">
                                <div class="logiciel-bkg">
                                    <svg class="icon">
                                        <use xlink:href="#icon-html"></use>
                                    </svg>
                                </div>
                                <div class="logiciel-bkg">
                                    <svg class="icon">
                                        <use xlink:href="#icon-css"></use>
                                    </svg>
                                </div>
                                <div class="logiciel-bkg">
                                    <svg class="icon">
                                        <use xlink:href="#icon-javascript"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bouton">
                        <a href="projet.html">Voir le projet</a>
                    </div>
                </div>
                <div class="right">
                    <p>
                        Refonte du site de Baie-Sainte-Catherine. Le projet consiste à concevoir le design des parties majeures du site et à l'intégrer sur le
                        web. Le site est donc autant un défi de
                        <span class="orange">design</span>
                        que
                        <span class="orange">d'intégration web.</span>
                    </p>
                    <img src="assets/images/bsc.webp" alt="Vignette du projet Baie-Sainte-Catherine" />
                    <div class="bouton-responsive">
                        <a href="projet.html">Voir le projet</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="projet">
                <div class="left">
                    <div class="info-left">
                        <div>
                            <h3>Webjam</h3>
                            <h4>Intégration web - 2024</h4>
                        </div>

                        <div>
                            <p>Projet étudiant</p>
                            <div class="logiciel">
                                <div class="logiciel-bkg">
                                    <svg class="icon">
                                        <use xlink:href="#icon-html"></use>
                                    </svg>
                                </div>
                                <div class="logiciel-bkg">
                                    <svg class="icon">
                                        <use xlink:href="#icon-css"></use>
                                    </svg>
                                </div>
                                <div class="logiciel-bkg">
                                    <svg class="icon">
                                        <use xlink:href="#icon-javascript"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bouton">
                        <a href="projet.html">Voir le projet</a>
                    </div>
                </div>
                <div class="right">
                    <p>
                        Le webjam est un événement où nous devons créer un site web en deux jours. Composé d'une équipe de quatre, j'ai participé à
                        l'intégration WordPress et PHP du projet.
                    </p>
                    <img src="assets/images/webjam.jpg" alt="Baie-Sainte_catherine" loading="eager" />
                    <div class="bouton-responsive">
                        <a href="projet.html">Voir le projet</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
