{% include "_partials/_header.html" with {title: 'Projet'} %}

<section class="presentation">
    <div class="wrapper">
        <h1>Le pendule</h1>

        <div class="info_projet">
            <div class="projet_sorte">
                <h3>projet étudiant</h3>
            </div>

            <div class="projet_sorte">
                <h3>animation 3d</h3>
            </div>

            <div class="projet_logiciel">
                <div class="logiciel_grid">
                    <h4>Blender</h4>
                    <div class="logiciel_bkg">
                        <svg class="icon">
                            <use xlink:href="#icon-blender"></use>
                        </svg>
                    </div>
                </div>

                <div class="logiciel_grid">
                    <h4>Reaper</h4>
                    <div class="logiciel_bkg">
                        <svg class="icon">
                            <use xlink:href="#icon-reaper"></use>
                        </svg>
                    </div>
                </div>

                <div class="logiciel_grid">
                    <h4>after-effects</h4>
                    <div class="logiciel_bkg">
                        <svg class="icon">
                            <use xlink:href="#icon-after-effect"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="video_youtube">
    <div class="wrapper">
        <div class="youtube" data-component="Youtube" data-youtube-id="0l1xBppghDE?si">
            <!--https://youtu.be/0l1xBppghDE?si=AGhJGiq-iW2T8WIO--URL VIDEO-->

            <div class="youtube__media js-youtube">
                <img class="js-poster" src="assets/images/pendule_yt.webp" alt="pendule" />

                <svg class="icon icon--xl">
                    <use xlink:href="#icon-play"></use>
                </svg>
            </div>
        </div>
    </div>
</section>

<section class="marquee">
    <div class="marquee_content scroll">
        <h1>Informations du projet</h1>
        <h1>Informations du projet</h1>
        <h1>Informations du projet</h1>
        <h1>Informations du projet</h1>
    </div>

    <div class="marquee_content scroll">
        <h1>Informations du projet</h1>
        <h1>Informations du projet</h1>
        <h1>Informations du projet</h1>
        <h1>Informations du projet</h1>
    </div>
</section>

<section class="projet_modelisation">
    <div class="wrapper">
        <div>
            <h2>La modélisation & texture</h2>
            <p>
                La modélisation du pendule est très simple. Une seul partie des 10 boules du pendule est composé d’une tige et d’une boule. Le tout est accroché
                par le haut à la tige principale. Il n’y a pas de texture sur la boule, mais la tige a une texture métal.
            </p>
        </div>

        <div class="swiper" data-component="Carousel" data-loop data-autoplay>
            <div class="swiper-wrapper" data-component="Modale">
                <div class="swiper-slide">
                    <img src="assets/images/pendule/modelisation1.png" alt="Photo d'un restaurant" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/pendule/modelisation2.png" alt="Photo d'un restaurant" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/pendule/modelisation3.png" alt="Photo d'un restaurant" />
                </div>
            </div>

            <!-- N'oubliez pas votre pagination -->
            <div class="swiper-pagination"></div>
        </div>

        <div class="modale">
            <div class="modale-content">
                <button class="modale-close"><h1>X</h1></button>
                <img src="" alt="" class="modale-img" />
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
